.tvshow-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 séries par ligne */
  gap: 2rem; /* Espace entre les cartes */
  margin-top: 1rem;
}

.no-results {
  text-align: center;
  font-size: 1.1rem;
}
@media (max-width: 900px) {
  .tvshow-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .tvshow-grid {
    grid-template-columns: 1fr;
  }
}
